@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/active-link";
@import "./utils/mixins";
@import "./base/base";
@import "./base/section";
@import "./base/container";

@import "./layout/navigation";
@import "./layout/hero";
@import "./layout/second-section-special";
@import "./layout/third-section-what-we-do";
@import "./layout/team-section";
@import "./layout/clients-section";
@import "./layout/footer";

@import "./components/logo";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/form";
@import "./components/footer-form";

@import "./layout/project-page-filter-buttons";
@import "./layout/project-page-main-section";
