.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation__mobile-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.navigation__list {
  display: none;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-container {
    @include flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navigation {
    @include flex;
    flex-direction: row;
    padding-left: 0px;
  }

  .navigation__mobile-button {
    display: none;
  }

  .navigation__list {
    @include flex;
  }

  .mail__link,
  .phone__link {
    display: block;
    align-items: center;
  }

  .navigation__list a,
  .contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    display: block;
    font-size: 12px;
  }

  .navigation__list li:not(:last-child) {
    margin-right: 50px;
    padding-left: 0px;
  }
  .navigation__list .navigation__item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--heading-color);
  }

  .contacts .mail__link,
  .contacts .phone__link {
    display: flex;
    color: var(--paragraph-color);
  }

  .mail__icon,
  .phone__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail__icon {
    width: 14px;
    height: 10px;
  }

  .phone__icon {
    width: 10px;
    height: 14px;
  }

  .navigation__list a:hover,
  .navigation__list a:focus,
  .contacts .mail__link:hover,
  .contacts .phone__link:hover,
  .contacts .mail__link:focus,
  .contacts .phone__link:focus {
    color: var(--accent-color);
  }

  .mail__link:hover .mail__icon,
  .mail__link:focus .mail__icon,
  .phone__link:hover .phone__icon,
  .phone__link:focus .phone__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mail__link {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    @include flex;
    padding-left: 0px;
    margin-left: auto;
  }

  .navigation__list a,
  .contacts a {
    font-size: 14px;
  }

  .contacts .mail__link,
  .contacts .phone__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .contacts li:not(:last-child) {
    margin-right: 50px;
  }

  .mail__icon {
    width: 16px;
    height: 12px;
  }

  .phone__icon {
    width: 10px;
    height: 16px;
  }
}
