.portfolio__example-buttons {
  @include flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 8px;
  margin-bottom: 56px;
}

.portfolio__filter-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--accent-color);
    border: 0px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__example-buttons {
    @include flex;
    margin-bottom: 56px;
  }
}
