.specials__list {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.specials__icon-block {
  height: 120px;
  @include flex;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  text-align: center;
}

.specials__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
}
.specials__text {
  margin-left: 0px;
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.special__list .item {
  max-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
