@media screen and (min-width: 768px) and (max-width: 1199px) {
  .specials__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .specials__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.specials__icon-block {
  height: 120px;
  @include flex;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  text-align: center;
}

.specials__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-color);
}

@media screen and (max-width: 768px) {
  .specials__heading {
    text-align: center;
  }
}

.specials__text {
  margin-left: 0px;
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.specials__item {
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
