.team__section {
  background: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__section .team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-align: center;
  color: var(--heading-color);
}

.team__job {
  margin-bottom: 16px;

  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--paragraph-color);
}

.social-nets {
  list-style: none;
  @include flex;
  gap: 10px;
}

.social-nets__link {
  @include flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    border-radius: 50%;
  }
}

.social-nets__icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-nets__link:hover &,
  .social-nets__link:focus & {
    fill: #ffffff;
  }
}

.social-nets__list-item {
  @include flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    @include flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    @include flex;
    gap: 30px;
  }
}
