.footer-form {
  @include flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding: 8px;
  background-color: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  &:focus {
    color: #fff;
  }

  &::placeholder {
    padding-left: 16px;

    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 468px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
  }
}

.footer-form__button {
  @include flex;
  padding: 10px 28px 10px 28px;

  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.footer-form__icon-telegram {
  margin-left: 10px;
}
