:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --heading-color: #212121;
  --paragraph-color: #757575;
  --accent-color: #2196f3;
  --backgroun-color-white: #fff;
  --background-color-dark: #2f303a;
}
